/* color */
/* основной фон #FFFFFF */
/* фон секций #F5F5F5 */
/* осн.цвет текста #000000 */
/* доп.текст rgba(0, 0, 0, 0.8) */
/* текст ховер линк #ffffff */
/* акцент #18A0FB  */

:root {
   --bg-color: #ffffff;
   --section-color: #f5f5f5;
   --primary-txt-color: rgba(0, 0, 0, 0.8);
   --title-color: #000000;
   --accent-color: #18a0fb;
   --hero-bg-color: rgba(0, 0, 0, 0.3);
}

body * {
   outline: 1px solid tomato;
}
body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.67;
   letter-spacing: -0.015em;

   color: var(--primary-txt-color);
   background-color: var(--bg-color);
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}

/* Title */
.title {
   line-height: 1.5;
   letter-spacing: -0.015em;
   color: var(--title-color);
}
/* Текст секций */

/* КНОПКИ  */
.btn-link {
   display: inline-block;

   border-radius: 6px;
   color: var(--accent-color);
   background-color: var(--bg-color);
   border: 1px solid var(--accent-color);
}
.btn-link.prime {
   padding: 11px 42px;
}

.btn-link.second {
   padding: 11px 34px;
   color: var(--bg-color);
   background-color: var(--accent-color);
}

/* Header */
.page-header {
   /* background-color: aliceblue; */
}

/* Container */
.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   /* outline: 1px solid coral; */
}

.logo {
   font-family: 'Comfortaa';
   font-size: 28.4444px;
   line-height: 1.13;

   color: var(--title-color);
}
.nav-link {
   font-size: 15px;
   font-weight: 500;
   line-height: 1.2;

   color: var(--accent-color);
}

/* Hero */
.hero {
   text-align: center;
   background-color: var(--hero-bg-color);
}
.hero-title {
   font-size: 56px;
   font-weight: 400;
   line-height: 1.43;
}
.hero .btn-link {
   padding: 15px 51px;

   font-size: 17px;

   font-weight: 500;
   line-height: 1.23;
   letter-spacing: -0.015em;
}

/* section PROMO */
.section-title {
   font-size: 48px;
   font-weight: 400;
}
.pretitle {
   font-size: 24px;
   font-weight: 700;
}

.promo .btn-link {
   padding: 11px 22px;
   font-weight: 500;
   font-size: 15px;
   line-height: 1.2;
}

/* section CLIENT */
.client {
   text-align: center;
}
.accent-txt {
   font-size: 36px;
   font-weight: 400;
   line-height: 1.39;
}

/* join */
.join {
   background-color: var(--section-color);
}
.join .btn-link {
   padding: 15px 52px;
}

/* Footer */

.footer-link {
   font-weight: 700;
   font-size: 15px;
   line-height: 1.6;
   color: var(--title-color);
}
