/*  */



body{
    background-color: papayawhip;
    
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* Header */

.main-menu__link{
color: red;
}

/* КНОПКИ  */
.btn{
    display: inline-block;
    padding: 10px 10px;
    font-size: 22px;

    color: red;
    background-color: #ffffff;
    border: 2px solid green;
}
.btn.prime{
    color: red;
    background-color: #ffffff;
    border-color: red;
}
.btn.second{
    color: #ffffff;
    background-color: red;
    border-color: transparent;

}