h2{
    outline: 1px solid tomato;
    background-color: #0000ff;
}

.logo__link {
    color: #3f0477;

}

.logo__link:hover,
.logo__link:focus {
    background-color: rgb(200, 0, 150);
    color: red;
    font-size: 28px;

}
.logo__link:active{
    font-size: 30px;
    color:  violet;

}
/* ================ */
ul li:first-child {
    outline: 3px dotted red;
}
